version: "3.8"
services:
  mongo:
    image: mongo:6.0
    restart: always
    container_name: hotel-mongo
    environment:
      MONGO_INITDB_DATABASE: hotel_db
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
